<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <title>Batuhan Aygün</title>
    <script src="https://kit.fontawesome.com/253ee50c04.js" crossorigin="anonymous"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="css/templatemo-diagoona.css" rel="stylesheet" />




</head>
