<%- include('partials/_header') %>

<body>
    <div class="tm-container">        
        <div>
<%- include('partials/_navigation') %>
           
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="../img/code15.png" alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Front End Development</h2>
                                <p> HTML 5 <i class="fa-brands fa-html5"></i> &nbsp &nbsp CSS 3 <i class="fa-brands fa-css3"></i> &nbsp &nbsp JavaScript <i class="fa-brands fa-js"></i><br>
                                  React.js  <i class="fa-brands fa-react"></i>&nbsp  Bootstrap 5 <i class="fa-brands fa-bootstrap"></i> &nbsp Vue.js <i class="fa-brands fa-vuejs"></i><br> 
                               </p>

                            </div> 
                        </div>
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Back End Development</h2>
                                <p> Node.js <i class="fa-brands fa-node"></i> &nbsp Express.js <i class="fa-brands fa-node-js"></i> &nbsp MongoDb <img src="../img/mongodb.png" > <br>
                                    
                                </p>
                            </div> 
                            <img src="../img/backend.jpg" alt="Image" class="tm-service-img-r">
                        </div>
                        <div class="media my-3 tm-service-media tm-service-media-img-l">
                            <img src="../img/last.png" alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Personal Abilities and Hobies</h2>
                                <p>Ambitious, Self-Confident, Determined, Hardworking, a Good Cook, Sociable and Gamer, these are my highlights.</p>
                                <p>My hobbies are Fishing, Camping, Walking with my dog, Traveling , Reading and Gaming</p>
                            </div> 
                        </div>                      
                    </section>
                </main>
            </div>
        </div>        

        <%- include('partials/_footer') %>
       