<%- include('partials/_header') %>

<body>
    <div class="tm-container">        
        <div>
            <%- include('partials/_navigation') %>

            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content tm-about">
                        <h2 class="mb-5 tm-content-title"> <b>About Me </b></h2>
                        <hr class="mb-4">
                        <div class="media my-3">
                            <i class="fas fa-shapes fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                            <p> I graduated from electrical and electronics engineering in September 2021 and using the ability to produce,
                                    develop and think analytically, which are the greatest skills I have acquired, in the software sector has given me a great vision.
                                    My easy-to-learn mind, looking at things from different angles and reaching a solution quickly is the most important factor that leads me to success.</p>
                            </div> 
                        </div>
                        <!-- <div class="media my-3">
                            <i class="fas fa-draw-polygon fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                                <p></p>
                            </div> 
                        </div> -->
                        <div class="media my-3">
                            <i class="fab fa-creative-commons-share fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                             <p>I can describe myself as a javascript full stack developer. Because I can work on both the back end and the front end. 
                            You can check out my skills and what I know in the abilities section of my page. </p> 
                            </div> 
                        </div>
                        <div class="media my-3">
                            <i class="fas fa-draw-polygon fa-3x p-3 mr-4"></i>
                            <div class="media-body">
                            <p> I have had e-commerce experience during my university education and I can say that I have improved myself in this sector.
                                The most important information I have learned in this field is how important marketing is.
                                The point that people pay the most attention to is what they can see with their eyes.
                                That's why user-friendly and dynamic websites have always been more attractive. 
                                <b> <i><a class="mine2" href="/contact"> Let's make things  great. Get in touch with me!</a></i></b></p>
                            </div> 
                        </div>                        
                    </section>
                </main>
            </div>
        </div>        
<%- include('partials/_footer') %>
    