<%- include('partials/_header') %>
<body>
    <div class="tm-container">
        <div>
<%- include('partials/_navigation') %>
          
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right tm-contact-main"> <!-- Content -->
                    <section class="tm-content tm-contact">
                        <h2 class="mb-4 tm-content-title">GET IN TOUCH WITH ME </h2>
                        <p class="mb-85"> Here is my social media accounts!! &nbsp If you have any question to ask me, feel free about it!</p>
                            <a href="https://linkedin.com/in/batuhan-aygun-4565781a4"> <i id="id1" class="fa-brands fa-linkedin"></i></a> <span class="spann">&nbsp &nbsp &nbsp &nbsp Linkedin</span> <br>
                            <a href="https://www.instagram.com/batuayguun/"> <i id="id1" class="fa-brands fa-instagram"></i></a><span class="spann">&nbsp &nbsp &nbsp &nbsp Instagram</span> <br>
                            <a href="https://github.com/batuaygun"><i id="id1" class="fa-brands fa-github"></i></a> <span class="spann">&nbsp &nbsp &nbsp &nbsp Github</span><br>
                            <i id="id1" class="fa-solid fa-phone" ></i> <span class="spann">&nbsp &nbsp &nbsp &nbsp +90 531 709 64 66</span><br>
                            <i id="id1" class="fa-regular fa-envelope-open"></i> <span class="spann"> <small> &nbsp &nbsp &nbsp batuhanaygun@yahoo.com</small></span><br>
                    </section>
                </main>
            </div>
        </div>        

        
        <%- include('partials/_footer') %>
