<%- include('partials/_header') %>



<body>
    <div class="tm-container">        
        <div>
<%- include('partials/_navigation') %>
           
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title"> <b>Hey There Welcome Aboard!</b></h2>
                        <p class="mb-5">As a Full Stack JavaScript Developer, I am skilled in both front-end and back-end web development using JavaScript. I have experience building web applications using a variety of JavaScript frameworks and libraries, including React, jQuery, Express.js and Node.js.</p>

                            <p>I am comfortable working with different tools and technologies, including databases, web servers, and version control systems. I am also familiar with agile software development methodologies, and I am comfortable working as part of a team.</p>
                            
                            <p> In addition to my technical skills, I am also a strong communicator and problem solver. I am passionate about creating intuitive, user-friendly web applications that are both functional and visually appealing.</p>
                            
                            <p> Overall, I am a dedicated and hardworking Full Stack JavaScript Developer with a strong background in web development and a passion for building great web applications.</p>
                       
                       
                            <hr class="mb-5">

                        <a href="/about" class="btn btn-primary">Continue...</a>
                    </section>
                </main>
            </div>
        </div>        

        <%- include('partials/_footer') %>
        